body
  background: white
  padding: 1em

#body 
  display: flex
  flex-direction: row

#sidebar
  width: 260px
  text-align: left
  padding-top: 2em
  padding-right: 50px 
  padding-left: 2em 
  text:
    align: left

  #fixed
    position: fixed
  
  #name, #title
    font:
      family: futura-pt, sans-serif
      weight: bold
      size: 28px
  
  #title
    padding-bottom: 0.5em
    
  #key
    font:
      family: dinosaur, sans-serif
      size: 20px
      style: normal
      weight: 100

    ul
      list-style: none
      margin: 0
      padding: 0

      a
        text-decoration: none
        color: black

#projects
  width: 100%

#projects > *
  display: flex
  flex-direction: row

  .description 
    margin-top: 2em
    flex: 1
    min-width: 240px
    margin-left: 1.5em
    font:
      family: dinosaur, sans-serif
      style: normal
      weight: 100
      size: 18px

    .desc-title
      padding-bottom: 2.5em

  .sections
    flex: 4

    .section 
      margin-top: 2em

    img
      width: 100%

#section2
  .images
    width:100%
    display: grid
    align-items: center
    justify-items: center
    grid:
      template-columns: 50% 50%
      row: auto auto
      column-gap: 0
      row-gap: 2%

    img
      width: 95%


#section4
  .images
    width:100%

    .scroll
      z-index: -1
      width: 100%
      height: 800px
      overflow: hidden
      position: relative

      #arrow-left, #arrow-right
        position: relative
        color: grey
        opacity: 0.7

        i
          font-size: 5em
          opacity: 20%
      
      #arrow-left
        top:40%
        left: 7%
        
      #arrow-right
        top: 30%
        left: 88%

      img
        height: 800px
        width: 2800px
        position: absolute
        transition-timing-function: easeIn
        transition: left 12s

#section5
  .images
    z-index: 5
    margin-top: -200px
    width: 100%
    display: grid
    grid:
      template-columns: 33% 33% 33%
      row: auto auto
      column-gap: 0
      row-gap: 2%

    img 
      width: 95%
